<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link id="skinDefault" type="text/css" rel="stylesheet" href="/css/black.css">
<link type="text/css" rel="stylesheet" href="/css/article.css">
<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>

 <!-- 翻书插件 -->       
<link rel="stylesheet" type="text/css" href="/css/bookblock.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css" />
<script src="js/modernizr.custom.79639.js"></script>


<title><%= title%></title>
</head>
<body>
    <div id="top-bar">
        <div id="topBar-title"><a href="http://localhost:8080/">Jruott的博客</a></div>
        <div class="bottom" id="blue" onclick="changeCss('blue')"></div>
        <div class="bottom" id="black" onclick="changeCss('black')"></div>
        <div id="change">切换主题</div>
    </div>
    <div id="wrapper">
         <div id="main">
            <div id="sidebar-wrap">
                <div id="sidebar">
                    <div id="describe"><div id="describe-title"></div></div>
                    <div id="widgetOne">
                        <h2 class="widgettitle">About Me</h2>
                        <div class="textwidget">I'm Dispatch, a blog-style WordPress theme with sweet sorting capabilities, custom widgets and a sticky sidebar.</div>
                    </div>
                    <div id="widgetTwo">
                        <div id="filcker">
                            <h2 class="widgettitle">Flickr</h2>
                            <div id="filcker-image"><img src="/images/bck6.jpg"></div>
                            <a href="http://huaban.com/">More Photos →</a>
                        </div>
                    </div>
                </div>
                <div id="stickStick" class="stickyStickyWrapper">
                    <div id="sticky"><div id="sticky-title">创意产品</div></div>
                    <div id="contact-box"><img src="/images/lift.gif"></div>
                    <div id="search">
                        <a href="#" class="feed feed-rss"></a>
                        <a href="#" class="feed feed-weibo"></a>
                        <a href="#" class="feed feed-tqq"></a>
                        <a href="#" class="feed feed-weixin"></a>

                    </div>
                </div>
            </div>

           <div id="content">
                <div class="bb-custom-wrapper" style="position:relative;">
                
                    <div id="bb-bookblock" class="bb-bookblock">
                        <div class="bb-item" id="item1">                     
                            <div id="content-title">
                                <div id="article-title">
                                    <%= article.title%>                    
                                </div>
                                <div id="article-meta">
                                    <%  var d = new Date(article.createtime); var time =d.getFullYear() + "." + (d.getMonth()+1) + "." + d.getDate() %>
                                    <div class="metaItem"><img src="/images/calendar.png"><span id="time"><%=time%></span></div>
                                    <div class="metaItem"><img src="/images/kind.png"><span ><%=time%></span></div>
                                    <div class="metaItem" id="metaItem3"><div id="metaItemdiv3"><img src="/images/browser.png"></div><span ><%= time %></span></div>
                                    <div class="metaItem" id="metaItem4"><div id="metaItemdiv4"><img src="/images/comment.png"></div><span ><%= time %></span></div>
                                </div>
                            </div>

                            <div id="content-main"><%- article.content%> </div>

                            <div id="separate"></div>

                            <div id="write">
                                <textarea></textarea>
                            </div>
        
                        </div>

                        <div class="bb-item" id="item2">
                            <div id="content-title">
                                <div id="article-title">
                                    <%= article.title%>                    
                                </div>
                                <div id="article-meta">
                                    <%  var d = new Date(article.createtime); var time =d.getFullYear() + "." + (d.getMonth()+1) + "." + d.getDate() %>
                                    <div class="metaItem"><img src="/images/calendar.png"><span id="time"><%=time%></span></div>
                                    <div class="metaItem"><img src="/images/kind.png"><span ><%=time%></span></div>
                                    <div class="metaItem" id="metaItem3"><div id="metaItemdiv3"><img src="/images/browser.png"></div><span ><%= time %></span></div>
                                    <div class="metaItem" id="metaItem4"><div id="metaItemdiv4"><img src="/images/comment.png"></div><span ><%= time %></span></div>
                                </div>
                            </div>

                            <div id="content-main"><%- article.content%> </div>

                            <div id="separate"></div>

                            <div id="write">
                                <textarea></textarea>
                            </div>   
                        </div>
                    </div>
                
                    <nav>
                        <span id="bb-nav-prev">&larr;</span>
                        <span id="bb-nav-next">&rarr;</span>
                    </nav>
    
                </div>

            </div>
         <!-- <div id="footer"></div> -->
        </div>
    </div>
    
    <!--锚-->
    <div id="mao"></div>


        
    <!--翻书插件-->
    <script src="/js/jquerypp.custom.js"></script>
    <script src="/js/jquery.bookblock.js"></script>
   
   //cookie切换主题
    <script>
    var skinCookieName = "myskin";  //只是个代名词，全程重要的是传的value，点击要换的按钮时就设置这个value，然后展示皮肤时查到该value，然后把css的后缀换成该value
    setSkin();

    //展示皮肤时就getCookie
    function setSkin(){
        var thisSkin = "black";
        console.log(thisSkin+"***");
        var cookieSkin = getCookie(skinCookieName);

        if(cookieSkin !=""){
            thisSkin = cookieSkin;
        }
        console.log(thisSkin+"***");
        var reg = /\/\w{4,5}\./;
        console.log(skinDefault.href);
        console.log(skinDefault.href.replace(reg,"/" + thisSkin +"."));
        skinDefault.href = skinDefault.href.replace(reg,"/" + thisSkin +".");
    }

    //点击要变化的按钮，就设置该cookie
    function changeCss(value){
        
        if(value != ""){
            var expdate = new Date();
            expdate.setTime(expdate.getTime() + (1000*60*60*24*30));   //将过期时间转换为日期
            SetCookie(skinCookieName,value,expdate);   //设置cookie
            setSkin();  //变换界面
        }
    }    

    function SetCookie(name,value,expdate){
        //将名字、值、过期时间写进cookie中，escape() 函数可对字符串进行编码，这样就可以在所有的计算机上读取该字符串。
    //??????有个问题，document.cookie都等于myskin=blog或者myskin=blue，后面这部分加不上去
        document.cookie=name+ "=" + escape(value)  + ((expdate==null) ? "" : ";expires="+expdate.toGMTString());
    }

    function getCookie(name){
        var search = name + "=";   //如： myskin=
        var returnvalue = "";
        if(document.cookie.length > 0){
            offset = document.cookie.indexOf(search);   //查找cookie
            if(offset != -1){   //存在
                offset += search.length;
                end = document.cookie.indexOf(";",offset); 
                returnvalue = unescape(document.cookie.substring(offset));   //对刚才编码的字符串解码,document.cookie.substring(offset，end)，因为前面写进cookie是“;”以及后面的过期时间都没写进去，现只有“myskin=blue”
            }
        }
        console.log(returnvalue +"###");
        return returnvalue;
    }

    </script>
<script type="text/javascript" src="/js/blog.js"></script>
 <script type="text/javascript" src="/js/article.js"></script>  
</body>
</html>