<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link id="skinDefault" type="text/css" rel="stylesheet" href="/css/black.css">
<link type="text/css" rel="stylesheet" href="/css/article.css">
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>

 <!-- 翻书插件 -->       
<link rel="stylesheet" type="text/css" href="/css/bookblock.css" />
<link rel="stylesheet" type="text/css" href="/css/custom.css" />
<script src="js/modernizr.custom.79639.js"></script>


<title><%= title%></title>
</head>
<body>
    <div id="top-bar">
        <div id="topBar-title"><a href="http://localhost:8080/">Jruott的博客</a></div>
        <div class="bottom" id="blue" onclick="changeCss('blue')"></div>
        <div class="bottom" id="black" onclick="changeCss('black')"></div>
        <div id="change">切换主题</div>
    </div>
    <div id="wrapper">
         <div id="main">
            <div id="sidebar-wrap">
                <div id="sidebar">
                    <div id="describe"><div id="describe-title"></div></div>
                    <div id="widgetOne">
                        <h2 class="widgettitle">About Me</h2>
                        <div class="textwidget">I'm Dispatch, a blog-style WordPress theme with sweet sorting capabilities, custom widgets and a sticky sidebar.</div>
                    </div>
                    <div id="widgetTwo">
                        <div id="filcker">
                            <h2 class="widgettitle">Flickr</h2>
                            <div id="filcker-image"><img src="/images/bck6.jpg"></div>
                            <a href="http://huaban.com/">More Photos →</a>
                        </div>
                    </div>
                </div>
                <div id="stickStick" class="stickyStickyWrapper">
                    <div id="sticky"><div id="sticky-title">创意产品</div></div>
                    <div id="contact-box"><img src="/images/lift.gif"></div>
                    <div id="search">
                        <a href="#" class="feed feed-rss"></a>
                        <a href="#" class="feed feed-weibo"></a>
                        <a href="#" class="feed feed-tqq"></a>
                        <a href="#" class="feed feed-weixin"></a>

                    </div>
                </div>
            </div>

           <div id="content">
                <div class="bb-custom-wrapper" style="position:relative;">
                
                    <div id="bb-bookblock" class="bb-bookblock">


                        <div class="bb-item" id="item0">                     
                            <div id="content-title">
                                <div id="article-title">
                                    <%= article.title%>                    
                                </div>
                                <div id="article-meta">
                                    <%var d = new Date(article.createtime); var time =d.getFullYear() + "." + (d.getMonth()+1) + "." + d.getDate() %>
                                    <div class="metaItem"><img src="/images/calendar.png"><span id="time"><%=time%></span></div>
                                    <div class="metaItem"><img src="/images/kind.png"><span ><%=time%></span></div>
                                    <div class="metaItem" id="metaItem3"><div id="metaItemdiv3"><img src="/images/browser.png"></div><span ><%= time %></span></div>
                                    <div class="metaItem" id="metaItem4"><div id="metaItemdiv4"><img src="/images/comment.png"></div><span ><%= time %></span></div>
                                </div>
                            </div>

                            <div id="content-main"><%- article.content%> </div>

                            <div id="separate"></div>

                            <div id="write">
                                <textarea></textarea>
                            </div>
        
                        </div>

                        <div class="bb-item" id="item1">                     
                            <div id="content-title">
                                <div id="article-title">
                                    <%= article.title%>                    
                                </div>
                                <div id="article-meta">
                                    <%var d = new Date(article.createtime); var time =d.getFullYear() + "." + (d.getMonth()+1) + "." + d.getDate() %>
                                    <div class="metaItem"><img src="/images/calendar.png"><span id="time"><%=time%></span></div>
                                    <div class="metaItem"><img src="/images/kind.png"><span ><%=time%></span></div>
                                    <div class="metaItem" id="metaItem3"><div id="metaItemdiv3"><img src="/images/browser.png"></div><span ><%= time %></span></div>
                                    <div class="metaItem" id="metaItem4"><div id="metaItemdiv4"><img src="/images/comment.png"></div><span ><%= time %></span></div>
                                </div>
                            </div>

                            <div id="content-main"><%- article.content%> </div>

                            <div id="separate"></div>

                            <div id="write">
                                <textarea></textarea>
                            </div>
        
                        </div>


                        <div class="bb-item" id="item2">
                            <div id="content-title">
                                <div id="article-title">
                                    <%= nextone.title%>                    
                                </div>
                                <div id="article-meta">
                                    <%  var d = new Date(article.createtime); var time =d.getFullYear() + "." + (d.getMonth()+1) + "." + d.getDate() %>
                                    <div class="metaItem"><img src="/images/calendar.png"><span id="time"><%=time%></span></div>
                                    <div class="metaItem"><img src="/images/kind.png"><span ><%=time%></span></div>
                                    <div class="metaItem" id="metaItem3"><div id="metaItemdiv3"><img src="/images/browser.png"></div><span ><%= time %></span></div>
                                    <div class="metaItem" id="metaItem4"><div id="metaItemdiv4"><img src="/images/comment.png"></div><span ><%= time %></span></div>
                                </div>
                            </div>

                            <div id="content-main"><%- article.content%> </div>

                            <div id="separate"></div>

                            <div id="write">
                                <textarea></textarea>
                            </div>   
                        </div>
                    </div>
                
                    <nav>
                        <span id="bb-nav-prev">&larr;</span>
                        <span id="bb-nav-next">&rarr;</span>
                    </nav>
    
                </div>

            </div>
         <!-- <div id="footer"></div> -->
        </div>
    </div>
    
    <!--锚-->
    <div id="mao" title="回到顶部"></div>

<!--翻书插件-->
<script src="/js/jquerypp.custom.js"></script>
<script src="/js/jquery.bookblock.js"></script>

<script type="text/javascript" src="/js/blog.js"></script>
<script type="text/javascript" src="/js/article.js"></script>  
<!-- 主题皮肤更改 -->
<script type="text/javascript" src="/js/skinOfTopic.js"></script> 
</body>
</html>