<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link id="skinDefault" type="text/css" rel="stylesheet" href="/css/black.css">
<link type="text/css" rel="stylesheet" href="/css/blog.css">
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>

<title><%= title%></title>
</head>
<body>
    <div id="top-bar">
        <div id="topBar-title"><a href="http://localhost:8080/">Jruott的博客</a></div>
        <div class="bottom" id="blue" onclick="changeCss('blue')"></div>
        <div class="bottom" id="black" onclick="changeCss('black')"></div>
        <div id="change">切换主题</div>
    </div>
    <div id="wrapper">
         <div id="main">
            <div id="sidebar-wrap">
                <div id="sidebar">
                    <div id="describe"><div id="describe-title"></div></div>
                    <div id="widgetOne">
                        <h2 class="widgettitle">About Me</h2>
                        <div class="textwidget">I'm Dispatch, a blog-style WordPress theme with sweet sorting capabilities, custom widgets and a sticky sidebar.</div>
                    </div>
                    <div id="widgetTwo">
                        <div id="filcker">
                            <h2 class="widgettitle">Flickr</h2>
                            <div id="filcker-image"><img src="/images/bck6.jpg"></div>
                            <a href="http://huaban.com/">More Photos →</a>
                        </div>
                    </div>
                </div>
                <div id="stickStick" class="stickyStickyWrapper">
                    <div id="sticky"><div id="sticky-title">创意产品</div></div>
                    <div id="contact-box"><img src="/images/lift.gif"></div>
                    <div id="search">
                        <a href="#" class="feed feed-rss"></a>
                        <a href="#" class="feed feed-weibo"></a>
                        <a href="#" class="feed feed-tqq"></a>
                        <a href="#" class="feed feed-weixin"></a>

                    </div>
                </div>
            </div>
            <div id="content">
                 <% for(var i = 0; i < list.items.length; i++) { %>
                    <div class="box">
                        <div class="shadow">
                            <div class="entry-title"><a href="article?id=<%= list.items[i].id %>"><%= list.items[i].title%></a></div>
                            <div class="diag"></div>
                            <% if(list.items[i].preview != null){ %>
                                <div class="entry-img"><img src="/upload/<%=list.items[i].preview %>"/></div>
                            <% } %>
                            <div class="entry-content">
                                <%=list.items[i].description %>规定发给对方规定发给对方规定发给对方规定发给对方规定发给对方规定发给对方规定发给对方规定发给对方规定发给对方规定发给对方
                            </div>
                        </div>
                        <div class="bar">
                            <div class="bar-frame">
                                <div class="date">
                                    <%  var d = new Date(list.items[i].createtime) %>
                                    <strong class="day"><%= d.getDate() %></strong>
                                    <div class="holder">
                                        <div class="month"><%= d.getMonth()+1%></div>
                                        <div class="year"><%= d.getFullYear()%></div>
                                    </div>
                                </div>
                                <div class="author barKind">
                                    <strong class="title"><img src="/images/author.png"/></strong>
                                    <P>MIKE</P>
                                </div>
                                <div class="category barKind">
                                    <strong class="title"><img src="/images/kind.png"/></strong>
                                    <P>Photography</P>
                                </div>
                                <div class="comments barKind">
                                    <strong class="title"><img src="/images/comment.png"/></strong>
                                    <p>1 Comment</p>
                                </div>
                            </div>
                        </div>
                     </div>
                      <div class="blank"></div>
                 <% } %>
                
                 <div class="pager-item-list">
                    <ul class="pager"></ul>
                 </div>
                

            </div>
         </div>
    </div>

    <!--锚-->
    <div id="mao" title="回到顶部">
        <img src="/images/top.png">
    </div>
<!-- 加载分页器   --> 
<script type="text/javascript" src="/js/page.js"></script> 
<script type="text/javascript">
    var currentPage = <%= list.current%> + 1;
    var totalPage = <%= list.total%>;
    $.pageShow(currentPage,totalPage,".pager");
</script>
<!-- 主题皮肤更改 -->
<script type="text/javascript" src="/js/skinOfTopic.js"></script> 
<!-- 自身页面js -->
<script type="text/javascript" src="/js/blog.js"></script>
  
</body>
</html>